body {
    background: #11111e;
}

.container h1 {
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

form {
    gap: 1rem;
    display: flex;
}

form div {
    color: aliceblue;
    display: flex;
    flex-direction: column;
}