body {
    background: #11111e;
    margin: 0px 24px;
}

.container-text {
    margin: 30px 0;
}

.container-text h1 {
    color: #78F4CE;
    text-shadow: 0px 0px 30px #78F4CE;
    font-family: Montserrat;
    margin: 0;
}

.container-text p {
    margin: 0;
    font-family: Montserrat;
    color: #3C3C53;
}

form {
    gap: 1rem;
    display: flex;
}

form {
    color: aliceblue;
    display: flex;
    flex-direction: column;
}

form .block-inputs {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.block-inputs .container-input {
    display: flex;
    flex-direction: row;
}

.block-inputs button {
    border: 2px solid #70d8c1;
    padding: 5px;
    background: none;
    border-radius: 10px;
}

.blocked {
    display: none !important;
}

form .end-step {
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 20px;
}

.btn-event {
    background: none;
    color: #70d8c1;
    border: 1px solid #70d8c1;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 1rem;
    cursor: pointer;
}

.btn-event:hover {
    background: #70d8c1;
    color: aliceblue;
}

form input {
    border-radius: 10px 0px 0px 10px;
    background: #0E0E19;
    border: 1px solid #0E0E19;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
    padding: 10px 10px;
    color: #3C3C53;
    font-family: Montserrat;
}

form input:focus {
    border: 1px solid #70d8c1;
}

input:focus{
    outline: none;
}

form input::placeholder {
    color: #3C3C53;
}

.texter-btn {
    background: #70d8c1;
    display: flex;
    align-items: center;
    padding: 0 5px;
    border-radius: 0 10px 10px 0;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
    color: #11111E;
    font-weight: bold;
    font-family: Montserrat;
}

form select {
    background: none;
    border: 1px solid #70d8c1;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 1rem;
    color: aliceblue;
    height: 30px;
}

.box {
    border: 2px solid #70d8c1;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.box .flexing {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.flexing {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h3 {
    color: #78F4CE;
    text-shadow: 0px 0px 30px #78F4CE;
    font-family: Montserrat;
    margin: 0;
}

p {
    margin: 0;
    font-family: Montserrat;
    color: #3C3C53;
}

.box input {
    width: 100%;
}

.testxer {
    background: red;
}

span {
    color: #3C3C53;
    font-weight: bold;
}

.box-export {
    background: #70d8c1;
    padding: 3px;
    border-radius: 0px 10px 10px 0px;
}

